<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img
                class="w-40"
                src="assets/images/logo/mediblock_logo_light.png"
                alt="Blockchain for Medical Records">
            <h1>Blockchain for Medical Records</h1>
            <p>
                This work will describe how permissioned blockchain with off-chain storage of the medical or health records, will allow patients to control their data assets (EMR, EHR and PGHD). 
            </p>
        </div>
        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'bg-blue-400'"
                [routerLink]="'/example'">
                <span>Launch Patient Application</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
            </a>
        </div>

        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'bg-blue-400'"
                [routerLink]="'/example'">
                <span>Launch Practitioner Application</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
            </a>


        </div>


    </div>
</div>
